TYPO3:
  Flow:
    security:
      authentication:
        providers:
          Typo3BackendProvider:
            requestPatterns:
              controllerObjectName: 'TYPO3\Neos\Controller\.*|TYPO3\Neos\Service\.*|TYPO3\Media\Controller\.*|Weissheiten\OAuth2\ClientInstagram\Controller\.*|Weissheiten\Neos\InstagramMedia\Controller\.*'
          InstagramOAuth2Provider:
            provider: 'Weissheiten\OAuth2\ClientInstagram\Provider\InstagramProvider'
            entryPoint: 'WebRedirect'
            entryPointOptions:
             routeValues:
              '@package':    'Weissheiten.Neos.InstagramMedia'
              '@controller': 'Login'
              '@action':     'login'
              '@format':     'html'
            providerOptions:
              authorizationEndpointUri: 'https://api.instagram.com/oauth/authorize/'
              redirectionEndpointUri: 'http://dev.neos/neos/authentication/authenticateInstagram'
              tokenEndpointUri: 'https://api.instagram.com/oauth/access_token'
              tokenEndpointClassName: Weissheiten\OAuth2\ClientInstagram\Endpoint\InstagramTokenEndpoint
              clientIdentifier: '--- clientId ---'
              clientSecret: '--- clientSecret ---'
              responseType: code
              scopes:
                - public_content
              display: basic
            requestPatterns:
              controllerObjectName: 'Weissheiten\Neos\InstagramMedia\Controller\.*|Weissheiten\OAuth2\ClientInstagram\Controller\.*'
          FacebookOAuth2Provider:
            requestPatterns:
              controllerObjectName: 'Non.Existent.Mapping'
        authenticationStrategy: atLeastOneToken
