TYPO3:
  Flow:
    security:
      authentication:
        providers:
          InstagramOAuth2Provider:
            provider: Weissheiten\OAuth2\ClientInstagram\Provider\InstagramProvider
            providerOptions:
              authorizationEndpointUri: 'https://api.instagram.com/oauth/authorize/'
              redirectionEndpointUri: 'http://dev.neos/authentication/authenticateInstagram'
              tokenEndpointUri: 'https://api.instagram.com/oauth/access_token'
              tokenEndpointClassName: Weissheiten\OAuth2\ClientInstagram\Endpoint\InstagramTokenEndpoint
              clientIdentifier: '--clientID--'
              clientSecret: '--clientSecret--'
              responseType: code
              scopes:
                - basic
              display: basic
